
.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

.box{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(218, 218, 218);
}